#synth-board {
  background-image: url(static/swirly.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu, #synth-canvas{
  position: fixed;
  top: 0;
  left: 0;
}

#menu {
  z-index: 10;
}

#synth-canvas {
  z-index: 0;
}