#synth-board {
  background-image: url(static/swirly.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu, #synth-canvas{
  position: fixed;
  top: 0;
  left: 0;
}

#menu {
  border: 2px solid blueviolet;
  padding: 5px;
  text-align: center;
  z-index: 10;
}

#synth-canvas {
  z-index: 0;
}

input {
  display: block;
}

p {
  font-size: 10px;
}

#menu p {
  margin: 10px 0px 2px 0px;
}